<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pizzaTracker</title>
    <link rel="stylesheet" href="{% static "myapp/css/style.css" %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary pt-0">
            <div class="container-fluid bg-dark pt-2">
            <p class="navbar-brand text-white">Pizza App</p>
            </div>
        </nav>
    </header>
    {% block pizzaDetails %}{% endblock pizzaDetails %}
    {% block pizzaOrderBlock %}{% endblock pizzaOrderBlock %}
      {% block orderstatus %}{% endblock orderstatus %}
      <footer>
        <div class="container-fluid bg-dark mt-5">
            <p class="navbar-brand text-white text-center py-3">Pizza App</p>
        </div>
      </footer>

      {% block order_status_script %}{% endblock order_status_script %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>